body{
    background-color: whitesmoke;
}
.top{
    height:10px;
    background-color: rgb(110, 146, 134);
    width:100%;
}
.side{
    margin-top: 30px;
    width:250px;
    float:left;
    background-color: aliceblue; 
    padding:3%;

}
.mainb{
    width:60%;
    display:inline-block;
    padding:2%;
    border-left: 1px solid #ddd;
}
.pheader{
    font-size:3.5em;
    color:aquamarine;

}
.phead{
    font-size:2em;
    color:olivedrab;
}

.social{
    font-family:Georgia;
    color: black;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    word-wrap: break-word;
}
p{
    font-family:Georgia;
    color: black;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}
.skills{
    display: inline-block;
    background-color:#ddd;
    border-radius: 20px;
    margin-right: 10px;
    color:#888;
    font-size: 20px;
    margin-bottom: 10px;
    display:flex;
    align-items:center;
    background-image:linear-gradient(rgb(194, 154, 154));
}
footer{
    border-top:4px solid #ddd;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (max-width: 600px){
    .side{
        width:100px;
    }
    .mainb{
        width:100%;
    }
}
